{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [],
          "node": true
        },
        "corejs": 3,
        "shippedProposals": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-throw-expressions"
  ]
}
